[submodule "vim/unmanaged_plugins/vim-unimpaired"]
	path = vim/unmanaged_plugins/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/unmanaged_plugins/ctrlp.vim"]
	path = vim/unmanaged_plugins/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/unmanaged_plugins/vim-markdown"]
	path = vim/unmanaged_plugins/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/unmanaged_plugins/base16-vim"]
	path = vim/unmanaged_plugins/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "vim/unmanaged_plugins/plantuml-syntax"]
	path = vim/unmanaged_plugins/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "vim/unmanaged_plugins/vim-surround"]
	path = vim/unmanaged_plugins/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/unmanaged_plugins/vim-repeat"]
	path = vim/unmanaged_plugins/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/unmanaged_plugins/nerdcommenter"]
	path = vim/unmanaged_plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/unmanaged_plugins/vimwiki"]
	path = vim/unmanaged_plugins/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/unmanaged_plugins/vim-ruby"]
	path = vim/unmanaged_plugins/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/unmanaged_plugins/vim-mason"]
	path = vim/unmanaged_plugins/vim-mason
	url = https://github.com/aming/vim-mason.git
[submodule "vim/pack/bundles/start/vim-mediawiki-editor"]
	path = vim/pack/bundles/start/vim-mediawiki-editor
	url = https://github.com/aquach/vim-mediawiki-editor.git
[submodule "vim/unmanaged_plugins/tagbar"]
	path = vim/unmanaged_plugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/unmanaged_plugins/vim-gutentags"]
	path = vim/unmanaged_plugins/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vim/unmanaged_plugins/vim-javascript"]
	path = vim/unmanaged_plugins/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/unmanaged_plugins/vim-fugitive"]
	path = vim/unmanaged_plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/unmanaged_plugins/vim-jdaddy"]
	path = vim/unmanaged_plugins/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "vim/pack/colors/opt/neodark.vim"]
	path = vim/pack/colors/opt/neodark.vim
	url = https://github.com/KeitaNakamura/neodark.vim.git
[submodule "vim/pack/colors/opt/onedark.vim"]
	path = vim/pack/colors/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "vim/pack/colors/opt/vim-one"]
	path = vim/pack/colors/opt/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule "fzf-extras"]
	path = fzf-extras
	url = https://github.com/atweiden/fzf-extras.git
[submodule "vim/pack/bundles/opt/QFEnter"]
	path = vim/pack/bundles/opt/QFEnter
	url = https://github.com/yssl/QFEnter.git
[submodule "vim/unmanaged_plugins/vim-node"]
	path = vim/unmanaged_plugins/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "vim/pack/bundles/opt/vim-node"]
	path = vim/pack/bundles/opt/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "vim/pack/bundles/opt/vim-jinja"]
	path = vim/pack/bundles/opt/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule "vim/pack/bundles/opt/vim-prettyprint"]
	path = vim/pack/bundles/opt/vim-prettyprint
	url = https://github.com/thinca/vim-prettyprint.git
[submodule "base16-iterm2"]
	path = base16-iterm2
	url = https://github.com/martinlindhe/base16-iterm2.git
[submodule "vim/pack/bundles/opt/vim-json"]
	path = vim/pack/bundles/opt/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/pack/bundles/opt/jedi-vim"]
	path = vim/pack/bundles/opt/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/unmanaged_plugins/vim-plist"]
	path = vim/unmanaged_plugins/vim-plist
	url = https://github.com/darfink/vim-plist.git
